## 加载模块

In [106]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
import dask
from dask_ml.preprocessing import DummyEncoder
import gc

In [127]:
gc.collect()

1464

## 加载数据

### 其它

In [11]:
path = 'E:\\MySQL_data\\repeat_buyers_prediction\\data_format2\\train_format2.csv'
df_train2 = dd.read_csv(path,dtype={'age_range': 'float32','gender': 'float32'},
                        assume_missing = True)
# 如果age_range、或者gender指定为int类型的话，使用head属性将报错

In [12]:
df_train2.head(5)

,user_id,age_range,gender,merchant_id,label,activity_log
0,34176.0,6.0,0.0,944.0,-1.0,408895:1505:7370:1107:0
1,34176.0,6.0,0.0,412.0,-1.0,17235:1604:4396:0818:0#954723:1604:4396:0818:0...
2,34176.0,6.0,0.0,1945.0,-1.0,231901:662:2758:0818:0#231901:662:2758:0818:0#...
3,34176.0,6.0,0.0,4752.0,-1.0,174142:821:6938:1027:0
4,34176.0,6.0,0.0,643.0,-1.0,716371:1505:968:1024:3

In [15]:
df_train2.loc[df_train2.gender.isnull()].head()

,user_id,age_range,gender,merchant_id,label,activity_log
8269,226176.0,NaN,NaN,1992.0,-1.0,547751:1349:7279:0902:0
8270,226176.0,NaN,NaN,487.0,-1.0,817592:1349:7532:0624:0#894236:36:7532:0624:0#...
8271,226176.0,NaN,NaN,3910.0,-1.0,465321:1505:5484:0913:0
8272,226176.0,NaN,NaN,333.0,-1.0,647284:88:7621:0610:0
8273,226176.0,NaN,NaN,1383.0,-1.0,619906:656:3578:1104:0

In [15]:
path2 = 'E:\\MySQL_data\\repeat_buyers_prediction\\data_format2\\test_format2.csv'

In [17]:
df_test2_n = dd.read_csv(path2)

In [19]:
df_test2_n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
user_id         10000 non-null int64
age_range       10000 non-null int64
gender          10000 non-null int64
merchant_id     10000 non-null int64
label           9651 non-null float64
activity_log    9995 non-null object
dtypes: float64(1), int64(4), object(1)
memory usage: 468.8+ KB

In [20]:
df_test2_n.head(5)

,user_id,age_range,gender,merchant_id,label,activity_log
0,163968,0,0,4378,-1.0,101206:812:6968:0614:0
1,163968,0,0,2300,-1.0,588758:844:3833:0618:0#71782:844:3833:1111:2#7...
2,163968,0,0,1551,-1.0,312747:243:1954:0627:0#312747:243:1954:0627:0#...
3,163968,0,0,4343,-1.0,932390:1612:3201:0628:0
4,163968,0,0,4911,-1.0,957657:662:3089:0612:0

In [24]:
df_test2_n[df_test2_n['label'].isnull()].head(8)

,user_id,age_range,gender,merchant_id,label,activity_log
12,163968,0,0,4605,NaN,772645:1368:7622:1111:2#772645:1368:7622:1111:0
53,360576,2,2,1581,NaN,948181:614:4066:1111:2#1111020:614:4066:1111:2...
65,98688,6,0,1964,NaN,774035:247:1193:1111:0#774035:247:1193:1111:0#...
67,98688,6,0,3645,NaN,661340:748:3637:1111:0#661340:748:3637:1111:2#...
134,295296,2,1,3361,NaN,521280:1118:487:1111:0#521280:1118:487:1111:0#...
170,33408,2,0,98,NaN,1045198:1038:1208:1029:0#430454:1038:1208:1029...
228,230016,5,1,1742,NaN,962700:464:7885:1111:2#144958:464:7885:1111:0#...
242,164736,3,1,598,NaN,974463:1188:6983:1111:2#974463:1188:8351:1111:0

In [14]:
path3 = 'E:\\MySQL_data\\repeat_buyers_prediction\\data_format1\\test_format1.csv'

In [15]:
df_test1 = dd.read_csv(path3)
df_test1.sample(5)

        user_id  merchant_id  prob
97747     24478         1538   NaN
226582   406553         2613   NaN
18681    284598         1555   NaN
5730     148368         3345   NaN
126685   242419          259   NaN
21607    372159         4150   NaN

### train1数据

In [107]:
path4 = 'E:\\MySQL_data\\repeat_buyers_prediction\\data_format1\\train_format1.csv'

In [108]:
df_train1 = dd.read_csv(path4)

In [17]:
df_train1.sample(6)

        user_id  merchant_id  label
213083    83699         4316      0
211885    53744         4976      0
56846    139047         1618      0
237414    89402         1978      0
141742   179746          860      0
176216   358535         4542      0

In [24]:
df_train1[df_train1['label'].isnull()]

Empty DataFrame
Columns: [user_id, merchant_id, label]
Index: []

### user_info数据

In [109]:
path5 = 'E:\\MySQL_data\\repeat_buyers_prediction\\data_format1\\user_info_format1.csv'

In [110]:
user_info = dd.read_csv(path5)

In [12]:
user_info

Dask DataFrame Structure:
              user_id age_range   gender
npartitions=1
                int64   float64  float64
                  ...       ...      ...
Dask Name: sample, 4 tasks

### 1.78G的user_log数据导入

In [111]:
path6 = 'E:\\MySQL_data\\repeat_buyers_prediction\\data_format1\\user_log_format1.csv'

In [112]:
user_log_data = dd.read_csv(path6)

In [18]:
user_log_data.head(6)

   user_id  item_id  cat_id  seller_id  brand_id  time_stamp  action_type
0   328862   323294     833       2882    2661.0         829            0
1   328862   844400    1271       2882    2661.0         829            0
2   328862   575153    1271       2882    2661.0         829            0
3   328862   996875    1271       2882    2661.0         829            0
4   328862  1086186    1271       1253    1049.0         829            0
5   328862   623866    1271       2882    2661.0         829            0

## 处理user_log数据

### user_id被记录的信息条数

In [116]:
u1 = user_log_data[['user_id']].copy()
u1 = u1.groupby('user_id').size().reset_index()
u1 = u1.rename(columns = {0:'user_action_count'})

In [6]:
u1.head()

   user_id    0
0       16   67
1       19  114
2       56  281
3      155   66
4      201   53

### 根据user_id对action_type编码

In [121]:
u3 = user_log_data[['user_id','action_type']].copy()

# set(u3.action_type.isnull()).compute()
# 结果为False，说明actiio_type中没有空值

In [122]:
u3 = u3.categorize(columns = ['action_type'])

MemoryError:

In [118]:
u3 = DummyEncoder().fit_transform(u3)

MemoryError:

In [100]:
u3.head()

   user_id  action_type_0  action_type_2  action_type_3  action_type_1
0   328862              1              0              0              0
1   328862              1              0              0              0
2   328862              1              0              0              0
3   328862              1              0              0              0
4   328862              1              0              0              0

### 对user_id操作的天数计数

In [124]:
u4 = user_log_data[['user_id','time_stamp']].copy()

u4 = u4[['user_id','time_stamp']].drop_duplicates()

u4 = u4.groupby(['user_id']).size().reset_index()

u4 = u4.rename(columns = {0:'user_handle_day_count'})

In [39]:
u4_h = u4.loc[:5,:].copy()
u4_h.compute() # 为什么这一步的时候那么的消耗内存呢？

   user_id   0
0        1   5
1        2   9
2        3  13
3        4  10
4        5  30
5        6  56

### 每个user_id对每个item_id(具体的商品)的操作数量编码

In [125]:
u5 = user_log_data[['user_id','item_id','action_type']].copy()

In [126]:
u5 = u5.categorize(columns = ['action_type'])

MemoryError:

In [6]:
u5 = DummyEncoder().fit_transform(u5)

In [7]:
u5 = u5.groupby(['user_id','item_id']).sum().reset_index()

In [ ]:
u5_h = u5.loc[:4,:].copy() # 只是这里生成的行索引没有重排，不知道改怎么办！
u5_h.compute()

### 每个user_id对每个brand_id的操作编码

In [ ]:
u6 = user_log_data[['user_id','brand_id','action_type']].copy()

In [20]:
u6 = u6.categorize(columns = ['action_type'])

In [21]:
u6 = DummyEncoder().fit_transform(u6)
u6 = u6.groupby(['user_id','brand_id']).sum().reset_index()

In [27]:
u6.loc[1,:].compute()

,user_id,brand_id,action_type_0,action_type_2,action_type_3,action_type_1
1,16,625.0,1.0,0.0,0.0,0.0

### 每个user_id对每个seller_id下的item_id的action_type编码

In [5]:
u7 = user_log_data[['user_id','seller_id','item_id','action_type']].copy()
u7 = u7.rename(columns = {'action_type':'usi_action_type'})
u7 = u7.categorize(columns = ['usi_action_type'])
u7 = DummyEncoder().fit_transform(u7)
u7 = u7.groupby(['user_id','seller_id','item_id']).sum().reset_index()

### 按照cat_id分类统计item_id的数量

In [42]:
i1 = user_log_data[['cat_id','item_id']].copy()
i1 = i1.drop_duplicates()
i1 = i1.groupby('cat_id').size().reset_index()

In [47]:
i1_h = i1.loc[:5,:].copy() # 如果直接用i1.head()，那么笔记本8G内存就不够了。
i1_h.compute()

   cat_id     0
0       1    34
1       2  2303
2       3    12
3       4   552
4       5   551
5       6     5

### 按照seller_id分类统计brand_id的数量

In [23]:
i2 = user_log_data[['seller_id','brand_id']].copy()
i2 = i2.drop_duplicates()
i2 = i2.groupby('seller_id').size().reset_index()

In [50]:
i2_h = i2.loc[:5,:].copy()
i2_h.compute()

   seller_id  0
0          1  3
1          2  2
2          3  2
3          4  3
4          5  2
5          6  3

In [24]:
i2 = i2.rename(columns = {0:'brand_id_count'})

Dask DataFrame Structure:
              seller_id brand_id_count
npartitions=1
                  int64          int64
                    ...            ...
Dask Name: rename, 159 tasks

### 按照seller_id统计item_id的个数

In [32]:
i3 = user_log_data[['seller_id','item_id']].copy()
i3 = i3.drop_duplicates()
i3 = i3.groupby('seller_id').size().reset_index()
i3 = i3.rename(columns = {0:'seller_item_id_count'})

Dask DataFrame Structure:
              seller_id seller_item_id_count
npartitions=1
                  int64                int64
                    ...                  ...
Dask Name: rename, 159 tasks

In [33]:
i3.head()

   seller_id     0
0          1  2977
1          2   154
2          3   171
3          4   155
4          5   660

### seller_id下cat_id的个数

In [34]:
i4 = user_log_data[['seller_id','cat_id']].copy()
i4 = i4.drop_duplicates()
i4 = i4.groupby('seller_id').size().reset_index()
i4 = i4.rename(columns = {0:'seller_cat_count'})

In [35]:
i4.head()

   seller_id  seller_cat_count
0          1                44
1          2                10
2          3                 4
3          4                 7
4          5                23

### cat_id下brand_id计数

In [37]:
i5 = user_log_data[['brand_id','cat_id']].copy()
i5 = i5.drop_duplicates()
i5 = i5.groupby('cat_id').size().reset_index()
i5 = i5.rename(columns = {0:'cat_brand_count'})

In [38]:
i5.head()

   cat_id  cat_brand_count
0       1               21
1       2              267
2       3               10
3       4               20
4       5               66

## 处理user_info数据

### 按照user_id分类对gender编码

In [59]:
u2 = user_info[['user_id','gender']].copy()

In [13]:
len(u2)

424170

In [19]:
set(u2['user_id'].compute()).difference(set(u1.user_id.compute())) 
set(u1.user_id.compute()).difference(set(u2.user_id.compute()))
# 上下两个生成的结果都为为空集，再加上它们都有相同的行数42170，
# 所以可以断定两个数据集的user_id是相同的

set()

In [63]:
u2 = u2.fillna(value = {'gender':2.0}) # 因为数据介绍中也说了2.0 代表Unknown
# compute不能随便用，因为一旦用了的话就变成pandas和python中的数据存储格式了
# note that the compute() function returns in-memory results. 
# It converts Dask dataframes to Pandas dataframes, 
# Dask arrays to Numpy arrays, and Dask bags to lists

In [71]:
set(u2.gender.isnull().compute())

{False}

In [85]:
u2 = u2.categorize(columns = ['gender'])
u2.gender

Dask Series Structure:
npartitions=1
    category[known]
                ...
Name: gender, dtype: category
Dask Name: getitem, 8 tasks

In [91]:
u2 = DummyEncoder().fit_transform(u2)

### 对user_age_range编码
它不是连续值，所以还是用离散编码

In [97]:
ui1 = user_info[['user_id','age_range']].copy()
ui1['age_range'] = ui1.age_range.fillna(0.0)

In [99]:
ui1['age_range'] = ui1.age_range.map(lambda x: x if x != 8.0 else 7.0)

In [100]:
ui1 = ui1.drop_duplicates()
ui1 = ui1.categorize(columns = ['age_range'])

In [101]:
ui1 = DummyEncoder().fit_transform(ui1)

In [102]:
ui1.head()

,user_id,age_range_6.0,age_range_5.0,age_range_4.0,age_range_7.0,age_range_3.0,age_range_0.0,age_range_2.0,age_range_1.0
0,376517,1,0,0,0,0,0,0,0
1,234512,0,1,0,0,0,0,0,0
2,344532,0,1,0,0,0,0,0,0
3,186135,0,1,0,0,0,0,0,0
4,30230,0,1,0,0,0,0,0,0

## user_id、seller_id数据合并

In [ ]:
# 将u1和ui1合并，u1：log数据按照user_id分类后计数，
# ui1：info数据按照user_id对age_range编码
u1ui1 = u1.merge(ui1,on = 'user_id') # 默认的how = inner

In [ ]:
# 再将上面的u1ui1 和u3合并，u3：根据user_id对action_type编码
u1ui1u3 = u1ui1.merge(u3,on = 'user_id')

In [ ]:
# 再将上面的和u2合并，u2：根据user_d对gender编码
u1ui1u3u2 = u1ui1u3.merge(u2,on = 'user_id')

In [ ]:
# 再将上面和u4合并，u4：将user_id分类，对其操作的天数计数
u1ui1u3u2u4 = u1ui1u3u2.merge(u4,on = 'user_id')

In [ ]:
# 将上面的结果和u7合并，u7：根据user_id对每个seller_id下的item_id的action_type编码、计数
u1ui1u3u2u4u7 = u1ui1u3u2u4.merge(u7,on = 'user_id')

In [ ]:
# 将上面的结果和i3合并，i3：根据seller_id对其下的item_id计数
u1ui1u3u2u4u7i3 = u1ui1u3u2u4u7.merge(i3,on = 'seller_id')

In [ ]:
# 将上面的结果和i5合并，i5：根据seller_id对其下的cat_id计数
u1ui1u3u2u4u7i3i5 = u1ui1u3u2u4u7i3.merge(i5,on = 'seller_id')

## train1集数据和user_seller数据合并

In [ ]:
usi = u1ui1u3u2u4u7i3i5.rename({'seller_id':'merchant_id'})
# 因为在train1数据中的是merchant_id

In [ ]:
usitrain1 = usi.merge(df_train1,on = ['user_id','merchant_id'])

## 训练集模型测试

In [ ]:
features = usitrain1.columns.difference(['user_id','merchant_id','label'])
x = usitrain1[features]
y = usitrain1['label']

In [129]:
from dask_ml.linear_model import LogisticRegression

In [131]:
from sklearn.metrics import accuracy_score

In [130]:
lgr = LogisticRegression()

In [ ]:
lgr_model = lgr.fit(x,y)
y_pre = lgr_model.predict(x)
accuracy_score(y,y_pre)

## 分类test中的数据

In [ ]:
usitest1 = usi.merge(df_test1,on = ['user_id','merchant_id'],how = 'right')

In [ ]:
x_test = usitest1[features]

In [ ]:
y_pre_test = lgr_model.predict(x_test)
prediction = df_test1.copy()
prediction['prob'] = y_pre_test

In [ ]:
prediciton.to_csv('prediction.csv',header=False,index=False)

至此即可将数据提交到比赛了。